<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="views/css/bootstrap.css">
  </head>
<body>
 <h1 style="font-size:50px;color:#AEBBDB;"> Unnatural </h1>
  <h3> 
    <nav>
      <ul id="menu">
        <li><a href="http://195.154.118.169/john/unnatural/index.php?c=user&t=index">Accueil</a></li>
        <li><a href="http://195.154.118.169/john/unnatural/?c=perso&t=list">Personnage</a></li>
        <li><a href="http://195.154.118.169/john/unnatural/?c=roll&t=list">Dés</a></li>
        {% if user.admin %}
          <li><a href="http://195.154.118.169/john/tp/index.php?c=user&t=list">Utilisateurs</a></li>
        {% endif %}
        {% if user.id is not null and user is defined %}
          <li style= "float:right"><a class="active" href="http://195.154.118.169/john/unnatural/index.php?c=user&t=logout">logout</a></li>
        {% else %}
          <li style= "float:right"><a class="active" href="http://195.154.118.169/john/unnatural/?c=user&t=login">login</a></li>
        {% endif %}
      </ul>
    </nav>
   </h3>
    {% if user is defined %}
      {% if user.admin %}
        <h3> Rôle admin: {{ user.name }} </h3>
      {% endif %}
      {% if user.admin == 0 %}
        <h3> {{ user.name }} </h3>
      {% endif %}
    {%endif%}
  </body>
  {% block body %}
  
  {% endblock %}
 <footer>Copyright John ABLIN© </p>
</html>