{% extends "base.html.twig" %}
{% block body %}
  <head>
    <title> User list </title>
  </head>
<h2>Liste des utilisateurs : </h2>
<body>
    <body class="body">
      {% for user in userList %}
        <li class="username">
          <a>{{ user.name }} </a>
          <a href="index.php?c=user&t=upgrade&id={{ user.id }}"> Passer Admin</a>
          <script type="text/javascript">
            function ouvre_popup(page) {
              window.open(page,"popup.html","menubar=no, status=no, scrollbars=no, menubar=no, width=200, height=100");
            }
          </script>
        </li>
      {% endfor %}
      <hr />
      <p>Quantity: {{ quantity }} users.</p>
      <a href= "index.php?c=user&t=new"> nouvel utilisateur</a>
{% endblock %}