{% extends "base.html.twig" %}
{% block body %}
  <head>
    <title>Form Tache </title>
    <meta charset="UTF-8" />
  </head>
 
  <body>
    <h3 align="center">
       Modification de la tâche
    </h3>
    <br />
    <form action="index.php?c=tache&t=update&id={{ tache.id }}" method="POST">
      <div>
        <label for="description">Description de la tache : </label>
        <input type="Description" name="description" id="description" required>
      </div>
      <div>
        <label for="Date">Date : </label>
        <input type="Date" name="date" id="Date" required>
      </div>
      <div>
        <label for="commentaire">Commentaire : </label>
        <input type="Commentaire" name="commentaire" id="Commentaire" required>
      </div>
      <div>
       <select name="competences[]" multiple="true" size="5">
         {% for competence in competences %}
          <option value="{{ competence.id }}">{{ competence.lib }}</option>
         {% endfor %}
        </select>
       </div>
       <div>
         <input type="submit" value="Valider">
       </div>
    </form>
{% endblock %}