{% extends "base.html.twig" %}
{% block body %}
    <head>
        <title>Tache List</title>
    </head>
<h2>Liste des tâches : </h2>
<body>
<table class="table">

      
 {% for tache in taches %}
  <tr>
     <td>

      <div>
        {{ tache.date|date("d/m/Y") }}
      </div>
      {{ tache.description }}
      <div>
        {{tache.commentaire}}
      </div>
      <div>
          <a href= "index.php?c=tache&t=edit&id={{ tache.id }}">modifier</a>
        {% if user.admin %}
          <a href= "index.php?c=tache&t=remove&id={{ tache.id }}">supprimer</a>
        {% endif %}
      </div>

      <td>
        {% for competence in tache.competences %}

          <li>{{competence.code}} - {{competence.lib}}</li>

        {% endfor %}
      </td>
 <tr/>
{% endfor %}
  </td>
  </table> 
  <a href= "index.php?c=tache&t=new"> Ajouter une tâche </t></a>
{% endblock %}